{% extends 'base.html' %}
{% block title %}Parent{% endblock %}
{% block topbar_title %}Parent{% endblock %}
{% block content %}
{% include 'components/page_header.html' with eyebrow='Module Student' title='Formulaire parent' subtitle='Ajoutez ou modifiez les informations du parent.' %}
<div class="section-card form-shell">
    <form method="post">
        {% csrf_token %}
        {% include 'components/form_fields.html' with form=form %}
        <div class="form-actions mt-4">
            <button type="submit" class="btn btn-primary btn-pill">Enregistrer</button>
            <a href="{% url 'student:parent_list' %}" class="btn btn-outline-secondary btn-pill">Retour</a>
        </div>
    </form>
</div>
{% endblock %}
